body {
  margin: 0 auto;
}

input {
  background: none;
  border: none;
  color: gray;
  font-size: 15px;
  margin: 0 auto;
  outline:0px;
  width: 200px;
}

button {
  border: none;
  border-radius: 3px;
  background: magenta;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  padding: 15px;
  text-align: left;
}


#header  {
  background-image: url("../assets/images/hero.gif");
  margin: 0px;
  width: 100%;
  background-size: 75%;
}

#header > header > img {
  float: left;
  margin-left: 100px;
  margin-top: 25px;
  width: 5%;
}

#header > header > div {
  color: white;
  float: right;
  width: 40%;
}

#header > header > div > h6 {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  margin-left: 18px;
}

#header > header > div > h6:hover {
  border-radius: 4px;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  margin-left: 18px;

}

#header > header > form > .title {
  line-height: 10px;
}

#header > header > form > p {
  font-size: 10px;
}

#header > header > form > .envolvente-boton {
  overflow: hidden;
}

#header > header > form > .envolvente-boton > .button {
  float: left; /*quiero pasar la etiqueta h6 junto al botón y no se puede aún*/
}

#header > header > form > .envolvente-boton > h6 {
  margin-top: 45px;
  padding-left: 15px;
  float: left; /*quiero pasar la etiqueta h6 junto al botón y no se puede aún*/
}

#ride {
  background: -webkit-linear-gradient(#691b84, #2d1e67);
  color: white;
  height: 450px;
}

#ride > div > img {
  float: right;
  margin-right: 200px;
  margin-top: 20px;
  width: 30%;
}

#ride > div {
  margin: 0px 0px 30px 100px;
  padding-top: 30px;
}

#ride > div > h1 {
  font-size: 20px;
  margin-top: 0px;
}

#ride > div > p {
  font-size: 10px;
  line-height: 5px;
}

#ride > div > h1 + h1 {
  margin: 0 auto;
  padding: 0 auto;
}

#video-left {
  background-color: white;
  float: left;
  margin-left: 50px;

}

#video-left > h6 {
  font-size: 10px;
  padding: 0 auto;
}

#video-left > p {
  font-size: 12px;
  line-height: 8px;
  padding: 0 auto;
}

#video-left + div {
  float: right;
  margin-left: 170px;
  margin-top: 0px;
}

#video-right {
  background-color: white;
  float: right;
  margin-right: 50px;
  margin-top: 0px;
}


#footer {
  background-color: #333447;
  color: white;
  display: inline-block;
  height: 420px;
}

#footer > div {
  box-sizing: border-box;
  float: left;
  margin-left: 60px;
  padding: 20px;
  width: 20%;
}

#footer > div > h1 {
  font-size: 15px;
}

#footer > div > p {
  font-size: 10px;
  line-height: 20px;
}

#footer > div > p:hover {
  color: purple;
  cursor: pointer;
}

#footer > div > p > img {
  padding: 0px;
  width: 40%;
}

#social {
  color: white;
  padding-top: 80px;
  text-align: center;
}

#social > div {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  padding: 15px;
  margin-left: 70px;
  margin-bottom: 15px;
}

#social > hr {
  color: white;
  text-align: center;
  width: 800px;
}


.clear {
  clear: both;
}


.contenedor { /*definiendo el ancho de mi página*/
  margin: 0 auto;
  max-width: 1300px;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}


.style-form {
  background-color: white;
  margin-left: 810px;
  padding: 40px;
  width: 450px;
}

.style-form > .title {
  color: purple;
}

.overflow {
  overflow: hidden;
}
