#header {
  background-image: url("..\assets\images\hero.gif");
}

#header > header > img {
  width: 5%;
  float: left;
  margin-left: 100px;
}

#header > header > h6 {
  display: inline-block;
  float: left;
  margin-left: 200px;
}

#ride {
  background-color: #622484;
  color: white;
  height: 450px;
}

#ride > div > img {
  width: 30%;
  float: right;
  margin-right: 200px;
  margin-top: 20px;
}

#ride > div {
  margin: 0px 0px 30px 100px;
  padding-top: 30px;
}

#ride > div > h1 {
  font-size: 20px;
  margin-top: 0px;
}

#ride > div > p {
  font-size: 10px;
  line-height: 5px;
}

#ride > div > h1 + h1 {
  padding: 0 auto;
  margin: 0 auto;
}

#video-left {
  background-color: white;
  float: left;
  margin-left: 50px;
}

#video-left > h6 {
  font-size: 10px;
  padding: 0 auto;
}

#video-left > p {
  line-height: 8px;
  font-size: 12px;
  padding: 0 auto;
}

#video-left + div {
  margin-left: 170px;
  float: right;
  margin-top: 0px;
}

#video-right {
  background-color: white;
  float: right;
  margin-right: 50px;
  margin-top: 0px;
}


#footer {
  background-color: #333447;
  color: white;
  display: inline-block;
  height: 500px;

}

#footer > div {
  float: left;
  width: 20%;
  margin-left: 60px;
  padding: 20px;
  box-sizing: border-box;
}

#footer > div > h1 {
  font-size: 15px;
}

#footer > div > p {
  font-size: 10px;
  line-height: 20px;
}

#footer > div > p:hover {
  color: purple;
  cursor: pointer;
}

#footer > div > p > img {
  width: 40%;
  padding: 0px;
}

#social {
  color: white;
  text-align: center;
  padding-top: 200px;

}

#social > hr {
  color: white;
  text-align: center;
  width: 800px;


}

.wrapper {
  overflow: hidden;
}

.button {
  border-radius: 5px;
}

.clear {
  clear: both;
}

.contenedor {
  max-width: 1300px;
  margin: 0 auto;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}


.style-form {
  margin-left: 1000px;
  background-color: white;
}

.style-form > .title {
  color: purple;
}
